TRADING_MODE=PAPER
INITIAL_CASH=1000000

KIS_APP_KEY=your_app_key_here
KIS_APP_SECRET=your_app_secret_here
KIS_ACCOUNT_NO=your_account_no_here
KIS_BASE_URL=https://openapivts.koreainvestment.com:29443
